@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3rem;
    background-color: #121214;
    font-family: "Spline Sans Mono", monospace;
    color: white;
}

.navbar-home a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.navbar-home a:hover {
    background-color: #e0e0e0;
}

.navbar-home {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.navbar-home ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar-home .menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menuIcon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.left-container {
    width: 20%;
    height: 95vh;
    background-color: #f0f0f0;
    border-radius: 0 0 16rem 16rem;
}

.projectsList {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.project {
    background-color: #272728;
    padding: 2rem;
    border-radius: 1rem;
    width: 30%;
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.project h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project p {
    font-size: .8rem;
}

.project a {
    text-decoration: none;
    color: white;

}

.project a:hover {
    text-decoration: underline;
}

.project a:visited {
    color: white;
}

#currentLink {
    color: white;
    font-weight: 400
}