---
import BaseLayout from "../layouts/BaseLayout.astro";
import PortfolioLayout from "../layouts/PortfolioLayout.astro";

const skills = {
    languages: ["C", "C++", "Java", "C#", "Python", "TypeScript", "PHP", "HTML", "CSS", "SQL", "Lua"],
    tech: ["React", "Express", "NestJS", "Prisma", "TailwindCSS", "NextJS", "React Native", "Expo", "Astro"]
}

const pageTitle = "À propos de moi"
---
<BaseLayout pageTitle={pageTitle}>
    <PortfolioLayout pageTitle={pageTitle} contentStyles={{justifyContent: "flex-start"}}>
        <p>
            Je suis Mathéo, étudiant en informatique.<br />
            Passionné par la programmation depuis mes 11 ans, je suis toujours prêt à apprendre de nouvelles choses.<br />
            Bien que le développement web soit mon domaine préféré, je trouve de l'intérêt dans de nombreux autres domaines
            comme la programmation graphique (OpenGL) mais aussi la création de jeux vidéo ainsi que d'applications mobiles.
        </p>
        <div>
            <h2>Technologies maîtrisées</h2>
            <div class="skillsList">
                <div>
                    <h4>Langages</h4>
                    { skills.languages.join(', ') }
                </div>
                <div>
                    <h4>Technologies</h4>
                    { skills.tech.join(', ') }
                </div>
            </div>
        </div>
    </PortfolioLayout>
</BaseLayout>

<style>
    .skillsList {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .skillsList div {
        display: flex;
        gap: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p {
        line-height: 1.5;
        width: 60%;
    }

    @media screen and (max-device-width: 480px) {
        p {
            width: 100%;
        }

        .skillsList {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .skillsList div {
            flex-direction: column;
            gap: .5rem;
        }
    }
</style>