---
import BaseLayout from "../layouts/BaseLayout.astro";
import PortfolioLayout from "../layouts/PortfolioLayout.astro";

const contactLinks = [
    {
        title: "Linkedin",
        url: "https://www.linkedin.com/in/mathéo-p-767812250"
    },
    {
        title: "GitHub",
        url: "https://github.com/idasrah"
    }
]

const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
    <PortfolioLayout contentStyles={{justifyContent: "flex-start"}}>
        <div class="contact">
            <p>On pourrait peut-être travailler ensemble. Contactez-moi !</p>
            <a class="mail" href="mailto:contact@matheo-picouleau.fr">contact@matheo-picouleau.fr</a>
            <div class="contactLinks">
                {
                    contactLinks.map((link) => (
                            <a href={link.url}>{link.title}</a>
                    ))
                }
            </div>
        </div>
    </PortfolioLayout>
</BaseLayout>


<style>
    .contact {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    a {
        text-decoration: none;
        color: #ababab;
        width: fit-content;
    }

    .mail:hover {
        text-decoration: underline;
        color: white;
    }

    .contactLinks {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
    }

    .contactLinks a {
        background-color: #272728;
        padding: 1rem;
        border-radius: 1rem;
        transition: 0.2s;
    }

    .contactLinks a:hover {
        background-color: #373738;
        color: white;
    }
</style>