---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavbarHome from "../components/NavbarHome.tsx";
---
<BaseLayout pageTile="Mathéo Picouleau - Portfolio">
    <h1>
        Mathéo<br />Picouleau
    </h1>
    <div>
        <div class="available">
            <div id="pulse-circle"></div>
            <p>Recherche un stage</p>
        </div>
        <NavbarHome client:load />
    </div>
</BaseLayout>

<style>
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        font-size: 10rem;
        font-weight: 700;
        letter-spacing: -0.05em;
        line-height: 1;
    }

    .available {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .available p {
        font-size: .9rem;
        font-weight: 200;
    }

    #pulse-circle {
        position: relative;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        background-color: #fff;
    }

    #pulse-circle:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: .5rem;
        height: .5rem;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.6;
        animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0.6;
        }
        70% {
            transform: translate(-50%, -50%) scale(4);
            opacity: 0;
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }
    }
</style>