---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.tsx";
import { getCollection } from "astro:content";
import PortfolioLayout from "../layouts/PortfolioLayout.astro";

let projects = await getCollection("projects");
projects.filter(project => !project.data.disabled);
projects.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

const pageTitle = "Projets";
---

<BaseLayout pageTitle={pageTitle}>
    <PortfolioLayout>
        <div class="projectsList">
            {projects.map(project => (
                    <Project projectData={project.data} />
            ))}
        </div>
    </PortfolioLayout>
</BaseLayout>

<style>
    body {
        width: fit-content;
        height: fit-content;
    }
</style>