---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.tsx";
import { getCollection } from "astro:content";
import PortfolioLayout from "../layouts/PortfolioLayout.astro";

const projects = await getCollection("projects");

const pageTitle = "Projets";
---

<BaseLayout pageTitle={pageTitle}>
    <PortfolioLayout>
        <div class="projectsList">
            {projects.filter(project => !project.data.disabled).map(project => (
                    <Project projectData={project.data} />
            ))}
        </div>
    </PortfolioLayout>
</BaseLayout>

<style>
    body {
        width: fit-content;
        height: fit-content;
    }
</style>