---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.tsx";
import LeftDecoration from "../components/LeftDecoration.tsx";
import Navbar from "../components/Navbar.tsx";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");

const pageTitle = "Projets";
---

<BaseLayout pageTitle={pageTitle}>
    <LeftDecoration />
    <div class="content">
        <div>
            <h1>Projets</h1>
            <div class="projectsList">
                {projects.map((project: any) => (
                        <Project name={project.data.title} description={project.data.description} url={project.data.link} />
                ))}
            </div>
        </div>
        <Navbar client:load/>
    </div>
</BaseLayout>

<style>
    body {
        display: flex;
        margin: 0;
        padding: 0;
        background: #121214;
    }

    .content {
        flex: 1;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
</style>