---
import LeftDecoration from "../components/LeftDecoration.tsx";
import Navbar from "../components/Navbar.tsx";

const { contentStyles } = Astro.props;
const currentPath = Astro.url.pathname;

console.log('=== LAYOUT DEBUG ===');
console.log('Astro.url:', Astro.url);
console.log('Astro.url.pathname:', currentPath);
console.log('typeof currentPath:', typeof currentPath);
---

<div class="wrapper">
    <LeftDecoration client:load />
    <div class="content" style={contentStyles}>
        <slot />
        <Navbar client:load currentPath={currentPath} />
    </div>
</div>