---
import LeftDecoration from "../components/LeftDecoration.tsx";
import Navbar from "../components/Navbar.tsx";

const { contentStyles, pageTitle } = Astro.props;
const currentPath = Astro.url.pathname;
---

<div class="wrapper">
    <LeftDecoration client:load />
    <div class="content" style={contentStyles}>
        <h1>{pageTitle}</h1>
        <slot />
    </div>
    <Navbar client:load currentPath={currentPath} />
</div>

<style>
    h1 {
        font-size: 4rem;
    }

    .content {
        justify-content: flex-start;
    }

    @media screen and (max-device-width: 480px) {
        h1 {
            font-size: 2rem;
        }
    }
</style>